{% extends 'layout.html' %}

{% block title %} Увійти {% endblock %}

{% block content %}

<h1>Увійти</h1>
<div class="login1">
    <label for="exampleFormControlInput1" class="form-label logforma">Логін</label>
    <input type="email" class="form-control logforma" id="exampleFormControlInput1" placeholder="admin">
    <label for="inputPassword5" class="form-label logforma">Пароль</label>
    <input type="password" id="inputPassword5 logforma" class="form-control" placeholder="*******" aria-describedby="passwordHelpBlock">
    <button type="button" class="btn btn-dark logbutton">Увійти в систему</button>
</div>

{% endblock %}