{% extends 'layout.html' %}

{% block title %} Додати клієнта {% endblock %}

{% block content %}

<h2 class="addclienth2">Зареєструвати клієнта</h2>
<form method="post">
    {% csrf_token %}
    <div class="block2">

        <label for="exampleFormControlInput1" class="form-label logforma">Прізвище</label>    
        {{ form.surname }}
        <label for="exampleFormControlInput1" class="form-label logforma">Ім'я</label>    
        {{ form.name }}
        <label for="exampleFormControlInput1" class="form-label logforma">По Батькові</label>    
        {{ form.second_name }}
        <label for="exampleFormControlInput1" class="form-label logforma">Номер телефону</label>    
        {{ form.phone_number }}
        <button type="submit" class="btn btn-dark logbutton">Зареєструвати</button>
    </div>
</form>

{% endblock %}