{% extends 'layout.html' %}

{% block title %} Увійти {% endblock %}

{% block content %}
    <div class="accInfo">
        <h5 class="accInfoP">Активна сесія:</h5>
        <h3 class="accInfoP">Слободянюк Денис Юрійович</h3>
        <h6 class="accInfoP">Адміністратор</h6>
        <button href="/" type="button" class="btn btn-dark accInfoButt">Вийти</button>
    </div>

    <div>
        <button href="/" type="button" class="btn btn-primary menuButtons">Додати нового клієнта</button>
        <button type="button" class="btn btn-primary menuButtons">Переглянути базу клієнтів</button>
        <button type="button" class="btn btn-primary menuButtons">Переглянути номери</button>
        <button type="button" class="btn btn-success menuButtons">Зайняті номери</button>
    </div>
{% endblock %}