{% extends 'layout.html' %}

{% block title %} Інформаційна система {% endblock %}

{% block content %}
    <div class="accInfo">
        <h5 class="accInfoP">Активна сесія:</h5>
        <h3 class="accInfoP">{{ user.first_name }}</h3>
        <h6 class="accInfoP">{{ user.last_name }}</h6>
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
            <button type="submit" class="btn btn-dark accInfoButt">Вийти</button>
        </form>
    </div>

    <div>
        <a href="{% url 'addclient' %}" type="button" class="btn btn-primary menuButtons">Додати нового клієнта</a>
        <a href="{% url 'clients' %}" type="button" class="btn btn-primary menuButtons">Переглянути базу клієнтів</a>
        <a href="{% url 'free_rooms' %}" type="button" class="btn btn-primary menuButtons">Переглянути вільні номери</a>
        <a href="{% url 'unavailable_rooms' %}" type="button" class="btn btn-primary menuButtons">Зайняті/Заброньовані номери</a>
        <a href="{% url 'create_booking' %}" type="button" class="btn btn-success menuButtons">Створити бронювання</a>
        <a href="{% url 'mark_past_bookings_available' %}" type="button" class="btn btn-info menuButtons">Оновити кімнати</a>
    </div>
{% endblock %}